/*********************************************************************
*  =Variables
*********************************************************************/
/*********************************************************************
*  =Grid and typograph
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*********************************************************************
*  = icon path
*********************************************************************/
/*********************************************************************
*  = Font Family
*********************************************************************/
/*********************************************************************
*  =Media Screen
*********************************************************************/
/*********************************************************************
*  =Functions
*********************************************************************/
/*********************************************************************
*  =Colorful links
*
*********************************************************************/
/*********************************************************************
*  =Pseudo icon mixin
*********************************************************************/
/*********************************************************************
*  Retina sprite
*********************************************************************/
/*********************************************************************
*  =Font smooth
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Responsive
*********************************************************************/
/*********************************************************************
*  =Gradient
*********************************************************************/
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: thin; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

h3 {
  font-weight: normal; }

figure {
  padding: 0;
  margin: 0; }

/*********************************************************************
*  =Image replacement
*********************************************************************/
/*********************************************************************
*  =Centered content
*********************************************************************/
/*********************************************************************
*  =No underline
*********************************************************************/
/*********************************************************************
*  =Ellipsis
*********************************************************************/
/*********************************************************************
*  =Pseudo Icon
*********************************************************************/
/*********************************************************************
*  =Flex
*********************************************************************/
/*********************************************************************
*  =Verticaly centered
*********************************************************************/
svg:not(.no-touch) path {
  stroke-linejoin: round;
  fill: inherit; }

svg:not(.no-touch) line {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 1;
  stroke: inherit; }

svg:not(.no-touch) polyline {
  stroke-dasharray: 0;
  stroke-dashoffset: 0; }

.box-gift {
  fill: #A2E6FF;
  height: 54px;
  width: 54px; }

body, html {
  font-family: 'Lato', sans-serif;
  background: #2b3151;
  min-width: 720px; }

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2B3151), color-stop(55%, #2B3151), color-stop(55%, #51D1C2), to(#51D1C2));
  background-image: linear-gradient(-180deg, #2B3151 0%, #2B3151 55%, #51D1C2 55%, #51D1C2 100%); }

.personal-information, .tag-geos, .website-information, .sign-up {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }
  .personal-information:after, .tag-geos:after, .website-information:after, .sign-up:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    pointer-events: none;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.personal-information, .tag-geos, .website-information, .sign-up {
  position: relative;
  z-index: 10;
  padding: 20px 10px;
  width: 95%;
  margin: 50px auto 150px;
  background-color: #e9f0f7; }

.signin-link {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #51d1c2;
  color: #fff; }

button {
  font-family: 'Lato', sans-serif; }

.ghost-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px solid #89cde7;
  color: #89cde7;
  padding: 10px 50px;
  font-size: 1.125em;
  font-weight: 900;
  border-radius: 6px;
  background: transparent;
  cursor: pointer; }
  .ghost-button:hover {
    background: #89cde7;
    color: #fff; }
  .ghost-button:active {
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0); }

.no-style {
  border: none;
  background: none;
  font-size: 1.125em;
  font-weight: 900;
  color: #89cde7; }

.fake-checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid #cfdbe7;
  background: #fff; }
  .fake-checkbox:after, .fake-checkbox:before {
    position: absolute;
    width: 2px;
    content: '';
    background: #51d1c2;
    border-radius: 2px;
    opacity: 0; }
  .fake-checkbox:after {
    top: 6px;
    left: 5px;
    height: 8px;
    -webkit-transform: rotate(-42deg);
            transform: rotate(-42deg); }
  .fake-checkbox:before {
    top: 3px;
    left: 11px;
    height: 11px;
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg); }

input:checked + label .fake-checkbox:after, input:checked + label .fake-checkbox:before {
  opacity: 1; }

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .fields .field {
    width: 50%; }

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .field.end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .field.space-around {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .field label {
    display: block;
    width: 120px;
    color: #808080;
    font-size: 1.125em;
    text-align: right; }
  .field input[type="text"],
  .field input[type="email"],
  .field input[type="tel"],
  .field textarea {
    display: block;
    width: calc(100% - 125px);
    margin-left: 5px;
    padding: 8px;
    border: 0;
    outline-width: thin;
    outline-color: #5fbbde;
    -webkit-transition: outline-width 0.2s linear;
    transition: outline-width 0.2s linear;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #2b3151;
    font-weight: 700;
    font-size: 1em;
    baseline: middle; }
  .field textarea {
    resize: none;
    min-height: 170px; }

.geo .flag {
  display: block;
  margin: 0 auto 10px;
  width: 66px;
  height: 43px;
  background-image: url(../assets/img/flags.png);
  background-size: 66px auto;
  background-repeat: no-repeat; }

.lang-ar .flag {
  background-position: 0 1px; }

.lang-au .flag {
  background-position: 0 -252px; }

.lang-be .flag {
  background-position: 0 -464px; }

.lang-br .flag {
  background-position: 0 -1184px; }

.lang-ca .flag {
  background-position: 0 -1142px; }

.lang-de .flag {
  background-position: 0 -42px; }

.lang-es .flag {
  background-position: 0 -295px; }

.lang-fr .flag {
  background-position: 0 -507px; }

.lang-ge .flag {
  height: 42px;
  background-position: 0 -1100px; }

.lang-hk .flag {
  background-position: 0 -1057px; }

.lang-id .flag {
  height: 42px;
  background-position: 0 -84px; }

.lang-in .flag {
  background-position: 0 -337px; }

.lang-it .flag {
  background-position: 0 -549px; }

.lang-jp .flag {
  height: 42px;
  background-position: 0 -1016px; }

.lang-kr .flag {
  background-position: 0 -973px; }

.lang-mx .flag {
  background-position: 0 -549px; }

.lang-my .flag {
  background-position: 0 -379px; }

.lang-nl .flag {
  background-position: 0 -676px; }

.lang-ph .flag {
  background-position: 0 -888px; }

.lang-pl .flag {
  background-position: 0 -930px; }

.lang-ro .flag {
  background-position: 0 -168px; }

.lang-ru .flag {
  background-position: 0 -422px; }

.lang-se .flag {
  background-position: 0 -42px; }

.lang-se .flag {
  background-position: 0 -591px; }

.lang-sg .flag {
  background-position: 0 -845px; }

.lang-th .flag {
  background-position: 0 -803px; }

.lang-tr .flag {
  background-position: 0 -210px; }

.lang-tw .flag {
  height: 42px;
  background-position: 0 -1227px; }

.lang-uk .flag {
  background-position: 0 -634px; }

.lang-us .flag {
  background-position: 0 -718px; }

.lang-vi .flag {
  background-position: 0 -761px; }

.list-of-countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-of-countries > div {
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .list-of-countries > div,
  .list-of-countries .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .list-of-countries .fake-checkbox {
    margin-right: 5px; }
  .list-of-countries label {
    margin: 0 auto;
    width: auto;
    padding: 20px;
    font-size: 0.875em;
    text-align: center;
    cursor: pointer; }
    .list-of-countries label .label-wrp {
      position: relative;
      margin: 0 auto;
      min-width: 80px;
      font-size: 1.125em; }
      .list-of-countries label .label-wrp .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
  .list-of-countries input {
    display: none; }
    .list-of-countries input:checked + label {
      background: #2b3151;
      color: #fff; }

.affiliate-partners-logo img {
  display: block; }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navigation-links li {
    margin: 0 10px; }
    .navigation-links li a:hover {
      color: #51d1c2; }
  .navigation-links a {
    display: block;
    padding: 10px;
    font-size: 0.875em;
    color: #fff; }

.personal-information, .tag-geos, .website-information {
  max-width: 880px;
  padding-left: 5%;
  padding-right: 5%; }
  .personal-information h1, .tag-geos h1, .website-information h1 {
    margin: 10px 0 15px;
    color: #89cde7;
    font-size: 1.875em;
    font-weight: 700;
    text-align: center; }
  .personal-information h3, .tag-geos h3, .website-information h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.125em;
    max-width: 610px; }
  .personal-information form, .tag-geos form, .website-information form {
    margin: 30px auto;
    padding: 0 30px; }
  .personal-information .space-around, .tag-geos .space-around, .website-information .space-around {
    margin-top: 10px; }

.personal-information h1 {
  margin: 10px 0 15px;
  color: #89cde7;
  font-size: 1.875em;
  font-weight: 700;
  text-align: center; }

.personal-information h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.125em;
  max-width: 610px; }

.personal-information form {
  margin: 30px auto;
  padding: 0 30px; }

.personal-information .space-around {
  margin-top: 10px; }

.sign-up {
  display: block;
  height: 305px;
  max-width: 505px; }
  .sign-up h1 {
    color: #89cde7;
    font-size: 1.875em;
    font-weight: 900;
    text-align: center; }

.steps ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.website-information label {
  width: 215px; }

.navigation-steps {
  padding-left: 7%;
  padding-right: 7%; }

header {
  padding: 20px 0;
  border-top: 1px solid #2b3151;
  background: #2b3151;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 720px; }
  header .wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.section-sign-up {
  border-top: 1px solid #2b3151; }
  .section-sign-up form {
    padding: 0 0; }

.steps {
  padding-top: 50px; }
  .steps ul {
    margin: 0 auto;
    max-width: 880px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .steps li {
    width: 25%;
    margin: 0 1px;
    font-size: 1.125em;
    font-weight: 700;
    text-align: center; }
    .steps li .title {
      margin: 10px 0 0;
      color: #fff; }
    .steps li .step {
      margin: 0 auto;
      height: 40px;
      width: 40px;
      padding: 6px;
      border: 2px solid #fff;
      border-radius: 30px;
      color: #fff; }
    .steps li.active .step {
      background: #89cde7;
      border-color: #89cde7; }
    .steps li.active .title {
      color: #89cde7; }

#svgs {
  position: absolute;
  top: 38%;
  width: 100%;
  max-height: 400px;
  background-color: #2b3151; }
  #svgs:before {
    position: absolute;
    bottom: -100px;
    content: '';
    height: 105px;
    width: 100%;
    background: #51d1c2; }
  #svgs polygon {
    -webkit-transform: translateZ(15px);
            transform: translateZ(15px);
    -webkit-filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); }
  #svgs polygon:first-child {
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px); }
  #svgs polygon:last-child {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px); }

.wrp {
  margin: 0 auto;
  width: 95vw;
  max-width: 1240px; }

/*# sourceMappingURL=signup-affiliate-partners.css.map */
