/*********************************************************************
*  =Variables
*********************************************************************/

/*********************************************************************
*  =Grid and typograph
*********************************************************************/
$PROJECT_FONT_SIZE : 16px;
$PROJECT_BASELINE : 24px;

$GRID_COLUMN_WIDTH : 60px;
$GRID_GUTTER : 20px;
$GRID_WIDTH : (14*$GRID_COLUMN_WIDTH) + (13*$GRID_GUTTER);

$wrpSize : 1280;
$wrp : #{$wrpSize}px;

/*********************************************************************
*  =Colors
*********************************************************************/

$cWhite : #fff;
$cBlack : #000;
$cGrey  : #e0e5e8;

$c1: #89cde7;
$c2: #808080;
$c3: #E9F0F8;
$c4: #F9F9F9;
$c5: #32406f;
/*********************************************************************
*  = icon path
*********************************************************************/
$iconpath: '../assets/images';

/*********************************************************************
*  = Font Family
*********************************************************************/
$defaultFont : 'Lato', sans-serif;


/*********************************************************************
*  =Media Screen
*********************************************************************/
$mobile: 340px;
$ms-small: 540px;
$ms-x-small: 599px;
$ms-x-mid: 760px;
$ms-mid-eight: 820px;
$grid: 1280px;
$full-screen: 1920px;
