.geo .flag{
    display: block;
    margin: 0 auto 10px;
    width: 66px;
    height: 43px;
    background-image: url(../assets/img/flags.png);
    background-size: 66px auto;
    background-repeat: no-repeat;
}

.lang-ar .flag{
    background-position: 0 1px;
}

.lang-au .flag{
    background-position:0 -252px;
}

.lang-be .flag{
    background-position:0 -464px;
}

.lang-br .flag{
    background-position:0 -1184px;
}

.lang-ca .flag{
    background-position:0 -1142px;
}

.lang-de .flag{
    background-position:0 -42px;
}

.lang-es .flag{
    background-position:0 -295px
}

.lang-fr .flag{
    background-position:0 -507px;
}

.lang-ge .flag{
    height: 42px;
    background-position:0 -1100px;
}

.lang-hk .flag{
    background-position:0 -1057px;
}

.lang-id .flag{
    height: 42px;
    background-position: 0 -84px;
}

.lang-in .flag{
    background-position:0 -337px
}

.lang-it .flag{
    background-position:0 -549px
}

.lang-jp .flag{
    height: 42px;
    background-position:0 -1016px
}

.lang-kr .flag{
    background-position:0 -973px
}

.lang-mx .flag{
    background-position:0 -549px
}

.lang-my .flag{
    background-position:0 -379px;
}

.lang-nl .flag{
    background-position:0 -676px
}

.lang-ph .flag{
    background-position:0 -888px
}

.lang-pl .flag{
    background-position:0 -930px
}

.lang-ro .flag{
    background-position:0 -168px
}

.lang-ru .flag{
    background-position:0 -422px
}

.lang-se .flag{
    background-position:0 -42px;
}

.lang-se .flag{
    background-position:0 -591px
}

.lang-sg .flag{
    background-position:0 -845px;
}

.lang-th .flag{
    background-position:0 -803px
}

.lang-tr .flag{
    background-position:0 -210px
}

.lang-tw .flag{
    height: 42px;
    background-position:0 -1227px;
}

.lang-uk .flag{
    background-position:0 -634px
}


.lang-us .flag{
    background-position:0 -718px
}

.lang-vi .flag{
    background-position:0 -761px
}
