.list-of-countries{
    display: flex;
    flex-wrap: wrap;

    > div{
        margin-bottom: 20px;
        width: 20%;
        align-items: center;
    }

    > div,
    .flex{
        display: flex;
    }

    .fake-checkbox{
        margin-right: 5px;
    }

    label{
        margin: 0 auto;
        width: auto;
        padding: 20px;
        font-size: em(14px);
        text-align: left;
        cursor: pointer;

        > div{
            position: relative;
            font-size: em(18px);
        }


    }

    input{
        display: none;

        &:checked +{
            label{
                background: $c5;
                color: $cWhite;
            }
        }
    }


}
