.list-of-countries{
    display: flex;
    flex-wrap: wrap;

    > div{
        width: 20%;
        align-items: center;
    }

    > div,
    .flex{
        display: flex;
    }

    .fake-checkbox{
        margin-right: 5px;
    }

    label{
        margin: 0 auto;
        width: auto;
        padding: 20px;
        font-size: em(14px);
        text-align: center;
        cursor: pointer;

        .label-wrp{
            position: relative;
            margin: 0 auto;
            min-width: 80px;
            font-size: em(18px);

            .flex{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

    input{
        display: none;

        &:checked +{
            label{
                background: $c5;
                color: $cWhite;
            }
        }
    }


}
